/* Estilo del Acceso */
*{
	margin : 0;
	padding : 0;
	font-family: sans-serif;

}

#login .container #login-row #login-column #login-box {
  justify-content: center;
  text-align: center;
  margin-top: 70px;
  max-width: 600px;
  height: 300px;
  box-shadow: 2px 2px 2px 2px #343a40;
  border-radius: 3px;    
}