body{
	margin: 0;
	padding: 0;
	background:white;
	
}


h3{
	color: red;
	padding: 20px auto;
	margin-top: 50px;
}

#login .container #login-row #login-column #login-box{
	background: rgba(0,-0,-0,-.1);
	margin: 20px;
	max-width: 600px;
	height: 300px;
	box-shadow: 5px 5px 5px #f00;
	border-radius: 3px;
}


.form-group label{
	color: #fff;
	padding: 5px 10px;
	font-family: Arial;
	font-size: 15pt;
}

.form-control{
	transition: 0.5s ease-in;
	outline: none;
	box-shadow: none;
}

.form-control::focus{
	background: none;
	box-shadow: none;
	outline: none;
}

