@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #191c32;
    color: #fff;
}

.navBar {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}


.brand {
    margin-top: -7px;
}

.brand span {
    color: aqua;
}

.menu ul {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}
.menu a {
    color: #ffff;
    text-decoration: none;
    padding: 10px 20px;
}

.menu a:hover {
    background: aqua;
    color: #191c32;
    border-radius: 10px;
    transition: 1s ease-in-out;
}

.menu .active {
    color: aqua;
}

.main {
    margin: 0 auto;
    width: 80vw;
    height: 80vw;
    display: grid;
    grid-template-columns: repeat(2,1fr);

}

h1 {
    font-size: 3em;
}

span {
    color: aqua;
}

.download-cv {
    padding: 10px 20px;
    background-color: aqua;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px rgba(102, 231,200, 0.70);
}

.download-cv:hover {
    background-color:#fff;
    box-shadow: none;
    border: 2px solid aqua;
}

.main img {
   width: 350px; 
   height: 500px;
   border: 7px solid aqua;
}

.about {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100vw;
    align-items: center;
}

.about img {
    width: 100%;
    grid-column: 1/5 ;
}

.about-info {
    grid-column: 5/10;
    padding: 3em;
}

.about-info h2 {
    font-size: 2em;
    color: #191c32;
}

.divider {
    height: 4px;
    width: 140px;
    background-color: aqua;
    margin-top: 5px;
    margin-bottom: 1em;
}

.about p {
    margin-bottom: 3em;
}

.portafolio {
    width: 100%;
    height: 700px;
    background-color: #191c32;
    color: #fff;
}


.portafolio-headings {
    width: 100vw;
    padding: 5em;
}

.portafolio-headings h2 {
    font-size: 2em;
}

.portafolio .container {
    width: 80vw;
    height: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.card {
    width: 300px;
    height: 350px;
    background-color: cadetblue;
    color: #fff;
    margin: 1em;
    
}

.card-img {
    width: 100%;
    height: 150px;
    background-image: url(../images/2-original.png);
    background-size: cover;
}

.card_title {
    padding: 20px;

}

.card_title h2 {
    color: #191c32;
    text-align: center;
}

.projects-link {
    display: flex;
    justify-content: space-evenly;
}

.projects-link a {
    color: aqua;
    text-decoration: none;
}

.projects-link i {
    font-size: 1.3em;
}

.card .project-details {
    display: flex;
    justify-content: center;
    margin: 1em;
}

.card .project-details  a {
    text-decoration: none;
    color: #191c32;
}

.project-details-button {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1em;
}

.contact-section {
    background-color: #191c32;
    padding: 3em;
    margin: 0 auto;
    
}

.contact-headings h2, h4 {
    font-size: 2.3em;
    color: #fff;
}

.container-contact {
    margin-top: 3em;
    width: 100vw;
    height: 40vw;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.container-contact img {
    width: 500px;
    height: 500px;
    bottom: 0px;
    opacity: 1;
}

.form {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-top: 2em;
}

.form input {
    padding: 10px 20px;
    margin-bottom: 1em;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #fff;
    color: #fff;
}

.form textarea {
    height: 150px;
    max-height: 200px;
    background: none;
    color: #fff;
    outline: none;
    padding: 1.5em;
     border: 1px solid #fff;
}

.btn-submit {
    padding: 10px 20px;
    margin: 1em;
    border: none;
    text-transform: uppercase;
    background-color: aqua;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px rgba(102, 231,200, 0.70);
}

.btn-submit:hover {
    color: #191c32;
    box-shadow: none;
}


.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 200px;
    background-color: aqua;
}

.footer-content h2 {
    font-size: 3em;
}

.footer-content h5, i {
    font-size: 1.5em;
}

.social {
    display: flex;
    justify-content:space-evenly;
    width: 300px;
    margin-top: 1em;
}

.social i:hover {
    color: #fff;
    cursor: pointer;
}

@media (max-width: 1000px){
    .wrapper {
         grid-template-columns: repeat(1,1fr);
    }
}







