body{
background:url(../imagen/imagen1.jpg);
background-repeat:no-repeat;
background-attachment:scroll;
color:white;
background-position:center;
	
}/*
div{
	background:blue;
	color:white;
	margin:20px 50px;
	height:100px;*/
	
}