 /*div,p{
	background:blue;
}/*Algunos fondos se extienden a lo largo de todo los documentos,eso se debe a que estos elementos son de tipo bloque,un elemento bloque por defecto usa el 100% del espacio a la hora de diseñar
a estos elementos podemos modificarlos a nuestras necesidades como darle altura ,anchura u otros
a,p{
	background:green;
	}los elementos de tipo linea como son los enlaces y otros no abarcan todo el documento solamente abarca el espacio necesario igual si estan uno al lado de otro,un elemento linea solamente utiliza el espacio necesario
	es importante saber que a estos elementos no le podemos dar un ancho,alto u otra modificacion ya que por defecto es autojustable y no modificable*/
	/*FONDOS Y COLOR DE FONDO*/
	div{
		background:blue;
		height:200px;		
		width:50%;
		margin:20px 60px;
		padding:50px;
		border:8px solid black;
		display:inline-block;
	}
		
	/*la anchura se puede realizar tambien en porcentaje,para agregar margenes se utiliza el codigo margin, para agregar espacios en el relleno padding*/
	
	p{
		background:blue;
		height:200px;		
		width:50%;
		margin:20px 50px;
		padding:50px;
		border:8px solid black;
		display:inline-block;
	}
		
	