/*{
	margin:0;
	padding:0;

} selector para eliminar los espacios

h2{
	color:blue;
	
} selector de etiqueta para cambiar o modificar el color o lo que quiera de una etiqueta indefinida, para agregar mas etiquetas solamente utilizas la ,

h6{
	
	font-size:20px;
}para cambia el tamaño de la fuente de letra de la etiqueta selectionada

 p {
	color:blue;
 } esta etiqueta eds para cambiar el color de todos los parrafos	
 
 a{
	color:green; 
	 font-size:20px;
 } para cambiar el tamaño color del contenido del elemento "a";el elemento a es el enlazador a una direccion puesta por el programador para el usuario
 ya se a una pagina externa o un contenido interno
 p a{
	 color:20px;
	 font-size:30;
	 
 }para cambiar el contenido de "a" dentro del parrafo "p"
 
 .yellow{
	 
	 color:green;
	 font-size:30px;
 } para cambiar o modificar el contenido de un elemento "a" con la clase class en su codigo especifico buscado por su color
 
 p .green {
	 
	 color:red;
 } para cambiar o modificar la caracteristica de un codigo "a" de un parrafo "p" buscado por el color*/
 
 a[href="file:///C:/Users/hp/Desktop/Mi%20primer%20sitio%20web/estructura%20de%20contenido.html"]{
	 color:green;
	 font-size:30px;
 }