/*body{
	font-size:16px;
	}
div {
	background:#000;
	color:white;
	width:100%;
} con el width le damos el tamaño a los elementos encerrados en el div,con el % le damos el tamaño a abarcar limitado por su padre o sea el elemento qte encierra el div,
este metodo se utiliza mucho en el diseño web responsive o adaptativo es una técnica de diseño web que busca la correcta visualización de una misma página en distintos 
dispositivos. Desde ordenadores de escritorio a tablets y móviles. Hoy en día accedemos a sitios web desde todo tipo de dispositivos; ordenador, tablet, smartphone…
p {
	font-size:1em;
}un elemento em representa el valor  de su elemento padre en su tamaño fuente es decir a su elemento mas cercano"equivale al tamaño dadi por el font-size"

div p{
	font-size:1em;
} para cambiar el valor en los elementos dentro de un div
*/	