*{
	box-sizing: border-box;
}

body{
	font-family: 'Roboto', sans-serif;
	background: ##fff;
}

main {
	max-width: 800px;
	width: 90%;
	margin: auto;
	padding: 40px;
	
}

.formulario{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap:20px;
}

.form-label{
	display: block;
	font-weight: 70;
	padding: 10px;
	cursor: pointer;
	font-family: 'Roboto', sans-serif;
}
.form.groupInput{
	position: relative;

}

.form-input{
	width: 100%;
	background: #E5E5E5;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.form-input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0 30px rgba(163,163,163,.0.4);
}

.mensaje-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.mensaje-error-activo{
	display: block;
	
}

.icon-estado{
	position: absolute;
	padding: 10px;
	margin:0 -40px;
	z-index: 100;
	opacity: 0;

}

.form-terminos {
	margin-right: 10px;
}

.form-terminos,
.form-mensaje,
.form-boton {
grid-column: span 2;

}

.form-mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.form-mensaje-activo {
	display: block;
}

.form-mensaje p {
	margin:0;
}

.form-boton {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: blue;
	color: #fff;
	font-weight: bold;
	border:none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1 ease all;
}

.form-btn:hover{
	box-shadow: 3px 0 30px rgba(0,42,199,1)
}

.form-exito {
	font-size: 14px;
	color: rgb(0,42,199);
	display: none;
}

.form-exito-activo{
	display: block;
}

/* Estilo del Icono de error */
.form-group-correcto .form-label{
	color: #1ed12d;
}

.form-group-correcto .icon-estado{
	color: #1ed12d;
	opacity: 1;
}

.form-group-correcto .form-input{
	border:3px solid #1ed12d;
}

.form-group-incorrecto .form-label{
	color: #bb2929;
}

.form-group-incorrecto .icon-estado {
	color: #bb2929;
	opacity: 1;
}

.form-group-incorrecto .form-input{
	border:3px solid #bb2929;
}
/* Estilos de los Media Query */
@media screen and (max-width: 800px) {
.formulario {
  grid-template-columns: 1fr;

}
.form-terminos,
.form-mensaje,
.form-boton {
	grid-column: span 1;
 } 

 .form-btn {
 	width: 100%;
  }

}