body {
    margin :0;
    font-family: sans-serif;
}

header {
    width: 100%;
    background: #C70009;
}

#btn-menu {
    display: none;
}

header label {
    display: none;
    width: 30px;
    height: 30px;
    padding:10px;
    
}

header label img {
    width: 30px;
    height: 30px;
    background: none;
    display: block;
}

header label:hover {
    cursor: pointer;
    background: rgba(0,0,0,0.3);
}
 .menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
 }

 .menu li {
   margin.20px;
 }

.menu li:hover{
    background: rgba(0,0,0,0.3);

}
 .menu li a{
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
 }

@media screen and (max-width:800px){
    header label{
        display: block;
    }

    .menu {
        position: absolute;
        background: #C70009;
        width: 80%;
        height: 100%;
        margin-left: -100%;
        transition: all 0.8s;
    }

    .menu ul {
        flex-direction: column;
    }

    .menu li {
        border-top: 1px solid #fff;
    }

    #btn-menu:checked ~ .menu{
        margin:0;
    } 
}