*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

:root{
	--purple-dark: #170312;
	--purple-medium:#33032d;
	--purple-light:#531253;
	--gray-light:#eaeaea;
	--white:#f4fffd;
}

body{
	font-size: 20px;
	font-family: 'Open Sans', sans-Serif;
}

p{
	font-size: 16px;
}

/* Estilo de Contenido-Header */
.contenido-header{
	width: 100%;
	height: 60vh;
	background-image: url(../img/bg-girl.jpeg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	
}

.contenido-header .fondo{
	width: 0%;
	height: 100%;
	max-width: 100%;
	background-image: url(../img/bg-top.png);
	
}

.contenido-header .texto{
	width: calc(100vw - 20px);
	height: 70vh;
	font-size: 90px;
	font-weight: 400;
	font-family: 'Noto Serif', serif;
	font-style: italic;
	display: flex;
	align-items: center;
	justify-content: center;
	color: purple;
	mix-blend-mode: multiply;
}



/* Estilo a los Productos */
.productos{
	margin-bottom: 60px;
}

.subtitulo{
	font-size: 20px;
	color: var(--purple-dark);
	font-family: 'Noto Serif', serif;
	font-weight: 700;
	z-index: 2;
	text-transform: uppercase;
	margin-bottom: 20px;
	  
}

.subtitulo span{
	background-color: var(--gray-light);
	padding: 0 15px;
	z-index: 99;
	position: relative;
}

.subtitulo::after{
	content: "";
	display: inline-block;
	height: 2px;
	width: 100%;
	background: var(--purple-dark);
	position: relative;
	top: -29px;
	z-index: 1;

}

.productos .titulo{
	width: 70%;
	font-size: 44px;
	text-transform: uppercase;
	display: inline-block;
	margin-bottom: 50px;
}

.productos .enlace{
	display: inline-block;
	margin-top: 40px;
	color: var(--purple-light);
	font-weight: 700;
	border-bottom: 1px solid transparent;
	transition: .3s ease all;
}

.productos .enlace:hover{
	text-decoration: none;
	letter-spacing: 3px;
	border-bottom: 1px solid var(--purple-light);
}

/* Diseño de la vista de los Productos */
.productos{
	background: var(--gray-light);
	padding: 20px;
	margin-bottom: 60px;
}

.productos .titulo{
	width: 70%;
	font-size: 44px;
	text-transform: uppercase;
	display: inline-block;
	margin-bottom: 50px;
}

.productos .producto{
	position: relative;
	width: 100%;
	
}

.productos .producto img{
	width: 2000px;
	height: 300px;
	border-radius: 3px;

}

.productos .overlay{
	width: 0%;
	height: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: var(--purple-dark); 
	overflow: hidden;
	transition: .5s ease;
	
}


.productos .producto:hover .overlay{
	width: 100%;
	opacity: .8;
}

.productos .producto:hover .overlay-text{
	top: 50%;
	left: 50%;
	position: absolute;
	white-space: nowrap;
	color: var(--white);
	font-size: 18px;
	transform: translate(-50%, -50%);
	overflow: hidden;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;

}
/* Estilo de boton */
.productos .btn-producto{
	background-color: #C70009;
	color: #fff;
	padding: 7px 20px;
	text-transform: uppercase;
	font-size: 16px;
	border: 2px solid transparent;
	transition: .3s ease;
}

.productos .btn-enlace{
	text-decoration: none;
	background-color: transparent;
	color: #fff;
}
.productos  .btn-producto:hover{
	background-color: transparent;
	border:2px solid #C70009;
	color: #C70009;
}

/* Estilo del Separador */
.separador{
	width: 100%;
	height: 260px;
	background-image: url(img/IMG-20210226-WA0012.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	margin-bottom: 60px;
}

.separador p{
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 30px;
	font-family: 'Noto Serif', serif;
	padding: 10px;
	
}

/* Estilo para la seccion de Acerca de */
.acerca-de{
	margin-bottom: 60px;
}

/* Estilos para las imagenes de la Galeria */
.galeria{
	margin-bottom: 60px;
}

.galeria img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}

/* Estilo de Contacto : Diseño del mapa */

.contacto{
	margin-bottom: 60px;
}

/* Estilo del Telefono */

.text-center p{
	font-size: 20px;
}

/* Estilos a los iconos de las redes Sociales */


/* Media Query para el tamaño de los titulos */

@media screen and(max-width: 700px){
	p{
		font-size: 18px;
	}

	.contenido-header .text{
		font-size: 60px;
	}

	.menu .enlace{
		font-size: 20px;
	}

	.productos .titulo,
	.producto .titulo{
		font-size: 20px;

	}
}