@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?v253ky');
  src:  url('fonts/icomoon.eot?v253ky#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?v253ky') format('truetype'),
    url('fonts/icomoon.woff?v253ky') format('woff'),
    url('fonts/icomoon.svg?v253ky#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home2:before {
  content: "\e901";
}
.icon-paint-format:before {
  content: "\e90c";
}
.icon-price-tags:before {
  content: "\e936";
}
.icon-wrench:before {
  content: "\e991";
}
.icon-cogs:before {
  content: "\e995";
}
.icon-road:before {
  content: "\e9b1";
}
.icon-power:before {
  content: "\e9b5";
}
.icon-radio-checked2:before {
  content: "\ea55";
}
